<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cmd</key>
		<string>1024</string>
		<key>name</key>
		<string>切换电脑最上层的进程</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>-1024</string>
		<key>name</key>
		<string>关闭电脑最上层的进程</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>1</string>
		<key>name</key>
		<string>打开命令提示符</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>2</string>
		<key>name</key>
		<string>打开任务管理器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>3</string>
		<key>name</key>
		<string>打开资源管理器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>4</string>
		<key>name</key>
		<string>打开设备管理器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>5</string>
		<key>name</key>
		<string>打开磁盘管理器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>6</string>
		<key>name</key>
		<string>打开注册表编辑器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>7</string>
		<key>name</key>
		<string>打开计算器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>8</string>
		<key>name</key>
		<string>打开记事本</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>9</string>
		<key>name</key>
		<string>打开画图板</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>10</string>
		<key>name</key>
		<string>打开写字板</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>11</string>
		<key>name</key>
		<string>打开浏览器</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>17</string>
		<key>name</key>
		<string>F5刷新</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>18</string>
		<key>name</key>
		<string>ESC退出</string>
	</dict>
	<dict>
		<key>cmd</key>
		<string>20</string>
		<key>name</key>
		<string>回车</string>
	</dict>
</array>
</plist>
